@using TechJobsPersistent.ViewModels;
@model AddJobViewModel;


<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">

    <div class="form-group">
        <label asp-for="Name">Job Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployerId" >Employer</label>
        <select asp-for="EmployerId" asp-items="@Model.Employers"></select>
        <a asp-controller="Employer" asp-action="Add">New Employer</a>
        <span asp-validation-for="EmployerId"></span>
    </div>

    <div class="form-group">
        <label asp-for="Skill">Job Skill</label>
        @foreach (var skill in @Model.Skill)
        {
            <label for="@skill.Id">@skill.Name</label> <br />
            <input type="checkbox" name="selectedSkills" value="@skill.Id" />
        }
        <a asp-controller="Skill" asp-action="Add">Add New Skills</a>
        <span asp-validation-for="Skill"></span>
    </div>

    <input type="submit" value="Add Job" />

</form>

